*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color:#fde4cf ;
    color: rgb(94, 67, 59);
}
.header{
    padding: 20px 20px 10px 20px;

}

.box{

    /* border: solid red; */
    padding: 10px 40px 10px 40px;
    
}
#logout{
    padding: 10px;
    /* border: solid green ; */
    background: rgb(146, 89, 72);
    text-align: center;
    font-size: 16px;
    width: 7%;
    /* position: absolute; */
    position: relative;
    border-radius: 20px;
    top: -25px;
    float: right;
}
#logout a{
    text-decoration: none;
    color: #fde4cf;

}
table, td, th{
    border: 1px solid;
    border-collapse: collapse;
    padding: 7px;
    }  
table img{
    width:250px;
    height:250px;
}
table a{
    text-decoration: none;
}
    table{
    width: 100%;
    text-align: center;
    }
    hr{
        border: 1px solid;
        
    }
    